body,
html {
  width: 100%;
  height: 100%;
  font-family: PingFang SC, helvetica neue, tahoma, microsoft yahei, arial, hiragino sans gb, sans-serif;
}
.topbar-warpper {
  padding: 0 3%;
  width: auto;
  margin: 0 auto;
  z-index: 3;
}
.topbar-warpper #home {
  color: #F94C04 !important;
}
.topbar-warpper .top-bar {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.topbar-warpper .top-bar .user {
  display: block;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.topbar-warpper .top-bar .menu div {
  display: block;
}
.topbar-warpper .top-bar .menu .item {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: 0.2s;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  text-align: center;
  box-sizing: border-box;
  font-size: 18px;
  z-index: 99;
}
.topbar-warpper .top-bar .menu .item li {
  margin-left: 0;
}
.topbar-warpper .top-bar .menu .item li a {
  line-height: 10px !important;
  color: #777 !important;
  font-size: 15px;
}
.topbar-warpper .top-bar .menu .item li .base {
  display: none;
}
.topbar-warpper .top-bar .menu .item li:first-child {
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 10px;
  font-size: 25px;
  color: #777;
}
.topbar-warpper .top-bar .ico {
  text-indent: -9999px;
  height: 50px;
  width: 53px;
  z-index: 2;
  margin-top: -48px;
  background: url("../img/logo111.png") no-repeat;
  background-size: 53px 46px;
}
.topbar-warpper .top-bar .ico a {
  display: block;
  height: 50px;
}
#Meteor {
  margin-top: -50px;
}
.bannerinfo {
  width: 95%;
  padding-bottom: 30px;
}
.bannerinfo table {
  width: 100%;
  margin: 0 10%;
  margin-top: 20px;
}
.bannerinfo tbody tr {
  height: 40px;
}
.bannerinfo tbody tr:first-child::after {
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  padding: 10px 15px;
  font-size: 15px;
}
.bannerinfo tbody hr,
.bannerinfo tbody tr:nth-child(2) {
  width: 225px;
  margin-left: 0px;
}
.bannerinfo tbody hr::before {
  border-width: 15px;
  border-color: #F94C04 transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}
.bannerinfo .photo {
  position: absolute;
  display: none;
  left: 110%;
  transition: all 0.5s;
}
.longinfo {
  width: 95%;
}
.longinfo::after {
  left: 60%;
}
.longinfo::before {
  left: 40%;
}
.longinfo .outbox {
  width: 85%;
}
.longinfo .outbox .lunbo {
  margin-left: -16%;
}
.jnys {
  width: 95%;
  padding-bottom: 0;
}
.jnys .title {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}
.jnys .title li:first-child::after {
  left: 50%;
  transform: translateX(-50%);
  top: -60px;
}
.jnys .title li:first-child::before {
  border-width: 15px;
  border-color: #F94C04 transparent transparent transparent;
  left: 50%;
  top: -20px;
}
.jnys .item {
  width: 15%;
  margin: 30px auto;
  padding: 0;
}
.jnys .item li {
  width: 90%;
  height: 280PX;
  float: none;
  text-align: center;
  margin: 30px auto;
  padding: 0;
  position: relative;
}
.jnys .item li .icon {
  float: none;
  position: relative;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.jnys .item li h3 {
  width: 120px;
  text-align: center;
  font-size: 20px;
  float: none;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
}
.jnys .item li p {
  float: none;
  color: #586371;
  width: 300px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 140px;
}
.gzll {
  width: 95%;
  padding-bottom: 40px;
}
.gzll .title {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}
.gzll .title li:first-child::after {
  left: 50%;
  transform: translateX(-50%);
  top: -60px;
}
.gzll .title li:first-child::before {
  border-width: 15px;
  border-color: #F94C04 transparent transparent transparent;
  left: 50%;
  top: -20px;
}
.gzll .item {
  margin: 0 auto;
  height: 280px;
  width: 90%;
}
.gzll .item:nth-child(2)::after {
  height: 950px;
  left: 90%;
  top: 150px;
}
.gzll .item li {
  float: none;
  margin: 0;
  padding: 0;
}
.gzll .item li i {
  position: absolute;
  left: 125.5%;
  top: -85px;
}
.gzll .item li:nth-child(3)::after {
  left: 55px;
  top: -40px;
  border-color: transparent transparent #ccc transparent;
}
.gzll .item li:last-child {
  width: 80%;
  margin-top: 33px;
}
.zpzs {
  width: 95%;
  padding-bottom: 40px;
}
.zpzs .title {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}
.zpzs .title li:first-child::after {
  left: 50%;
  transform: translateX(-50%);
  top: -60px;
}
.zpzs .title li:first-child::before {
  border-width: 15px;
  border-color: #F94C04 transparent transparent transparent;
  left: 50%;
  top: -20px;
}
.zpzs .btu {
  width: 100%;
  margin: 30px auto;
}
.zpzs .btu li {
  width: 20%;
  height: 40px;
  margin: 0 2.5%;
}
.zpzs .btu li a {
  font-size: 15px;
  line-height: 40px;
}
.zpzs .img-list ul li {
  width: 100%;
}
.bg .box {
  width: 100%;
  height: 100%;
  margin: 30% auto;
}
.bg .box .content p {
  font-size: 10px;
}
.blog {
  width: 95%;
  padding-bottom: 40px;
}
.blog .title {
  width: 100%;
  text-align: center;
  margin: 50px auto;
  margin-top: 100px;
}
.blog .title li:first-child::after {
  left: 50%;
  transform: translateX(-50%);
  top: -60px;
}
.blog .title li:first-child::before {
  border-width: 15px;
  border-color: #F94C04 transparent transparent transparent;
  left: 50%;
  top: -20px;
}
.blog .item img {
  float: none;
  width: 100%;
  height: 80%;
}
.blog .item ul {
  width: 100%;
  float: none;
  padding: 20px 20px;
}
.blog .item ul li:nth-child(2) {
  margin: 15px 0;
  font-size: 12px;
}
.zhezhao .tankuang {
  width: 90%;
  margin: 30% auto;
}
.zhezhao .tankuang .content p {
  font-size: 10px;
}
.zhezhao .tankuang .content .img {
  margin-top: 130px;
  width: 100% !important;
  height: 100px !important;
}
.tellme {
  width: 95%;
  padding-bottom: 40px;
}
.tellme .title {
  width: 100%;
  text-align: center;
  margin: 50px auto;
  margin-top: 100px;
}
.tellme .title li:first-child::after {
  left: 50%;
  transform: translateX(-50%);
  top: -60px;
}
.tellme .title li:first-child::before {
  border-width: 15px;
  border-color: #F94C04 transparent transparent transparent;
  left: 50%;
  top: -20px;
}
.tellme div {
  width: 100%;
}
.tellme div div {
  float: none;
  width: 100%;
  margin: 0;
}
.tellme div form {
  width: 100%;
}
.footer {
  width: 95%;
}
.up {
  width: 95%;
  padding-right: 0;
  bottom: 10px;
}
/*# sourceMappingURL=./Mobile.css.map */
